/*for the CSS styling, I used online assistance to better figure out how to style the board, along
with old assignments from CIS-216 I still have saved*/

#game {
    display: grid;
    gap: 2px;
    margin: 20px auto;
    padding: 10px;
    background: #333;
    border-radius: 6px;
    width: fit-content;
    grid-template-columns: repeat(var(--cols), 30px);
    grid-template-rows: repeat(var(--rows), 30px);
}

#container{
    text-align: center;
}

.cell {
    width: 30px;
    height: 30px;
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.revealed {
    background: #eee;
}

.mine {
    background: red;
    color: white;
}

#menu {
    text-align: center;
    margin: 20px;
}

#menu button {
    margin: 10px;
    font-size: 10px;
}